<div class="trips">

    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <img class="im" src="images/cover/trips-cover.jpg" data-cover="trips">
                <h1>Mountain Trips</h1>
            </div>
            <div class="col-xs-3">
                {{#link-to "sections.tech"}}
                    <img class="im thumb" src="images/cover/tech-cover.jpg" data-cover="tech">
                {{/link-to}}
                {{#link-to "sections.philosophy"}}
                    <img class="im thumb" src="images/cover/philosophy-cover.jpg" data-cover="philosophy">
                {{/link-to}}
                {{#link-to "sections.typewriters"}}
                    <img class="im thumb" src="images/cover/typewriters-cover.jpg" data-cover="typewriters">
                {{/link-to}}
            </div>
        </div>
    </div>


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <p>
                I've tried to record my trips in the mountains from the first. This web site,
                in one form or another, dates back to 1997, and my first hikes in the Columbia
                Gorge and around Mt. Hood in Oregon. My first climb of the truncated Mt. St.
                Helens occured later that year. I was greatly inspired by Sarah Boomer, whose
                "GoBoomSink" web site was funny and informative.
            </p>
            <p>
                From about 1998 until 2005 the trip reports are mostly in Washington State, and
                since that time almost entirely in Europe -- specifically southern Germany, Austria
                and the Dolomites, with occasional trips to the Western Alps of France and
                Switzerland.
            </p>
            <p>
                Everybody always asks me if I've climbed Mt. Everest or ever plan to. 
                The answer is a firm NO. Climbing, to me, is about a balanced life that integrates
                the high wild with the dinner back home that night. I never go anywhere exotic,
                and while I dream about certain faraway places (Altai, for example), I may never
                go further than a few hours drive.
            </p>
            
            <hr class="border-top-soft-dark-gray">
        
        <div class="report-list">
            <table class="table table-stripped table-bordered">
                <thead>
                    <tr> <td>Date</td> <td>Where</td> <td>Notes</td> </tr>
                </thead>
                <tbody>
                    {{#each model as |trip|}}
                    <tr> <td>{{date-mmyyyy trip.date}}</td>
                    <td>
                        {{trip.title}}
                    </td> 
                    <td>{{trip.blurb}}</td> 
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        {{outlet}}
        </div>

        <div class="col-xs-12 col-sm-3">
            <h3>Interesting stuff</h3>
            {{theme-block-title title="DustyBoots interviews me" date="2017/04/15" 
                desc="My friends Uli and Christiane 
                <a href='http://www.dustyboots.blog/bergphilosoph-michael/'>interviewed me on their
                blog, Dustyboots!</a> They had great questions that made me think about life in
                addition to climbing and hiking. They are fresh back from a year in South America,
                and have tons of beautiful pictures and adventures on their site."}}
            {{theme-block-title 
                title="Climbing with Fred Beckey" 
                date="2012/07/20" 
                desc="<a href='http://www.aidanhaley.com'>Aidan Haley</a> and I spent 
                      a <a href='http://climbing-blog.patagonia.com/post/61598861999/a-day-with-fred-beckey-in-the-dolomites-fred'>
                      week with Fred Beckey in</a>
                      the Dolomites. It was fantastic, though not always easy!
                      We did two multipitch climbs in the Cinque Torre.
                      Patagonia sponsored the film, and Colin Haley did
                      the narration."}}
            {{theme-block-title title="Alpine Climbing Thoughts"   date="2008/03/15" 
                desc="Some years ago, I got kudos from folks for this article with thoughts
                about alpine climbing. I think it still holds up today, even though it's dated, too.
                Check it out <a href='http://www.summitpost.org/alpine-climbing-thoughts/284184'>on Summitpost</a>."}}
            {{theme-block-title title="The problem of 4th class"    date="2010/01/12" 
                desc="I wrote an 
                     <a href='http://www.summitpost.org/thoughts-on-4th-class-terrain/298107'>article
                     about my tortured relationship to 4th class terrain</a>, and
                     it resonated with a surprising number of people. I thought it was just me!"}}
        </div>
    </div>
</div>

</div>