{{#leaflet-map lat=lat lng=lng zoom=zoom minZoom=2 maxZoom=18
    scrollWheelZoom=false as |layers|}}
  {{layers.tile url=tileserver}}
  {{#marker-cluster-layer}}
    {{#each model as |loc|}}
      {{#marker-layer location=loc.location}}
        {{#popup-layer}}
          <h3 style="color: black">{{loc.name}}</h3>
            <ul>
              {{#each loc.trips as |trip|}}
                <li>{{#link-to 'sections.trip' trip.slug}}
                      {{trip.title}}
                    {{/link-to}} ({{date-mmyyyy trip.date}})
                </li>
              {{/each}}
            </ul>
            {{yield}}
        {{/popup-layer}}
      {{/marker-layer}}
    {{/each}}
  {{/marker-cluster-layer}}
{{/leaflet-map}}
