<div class="theme-icons-section {{type}}">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col">
                <div class="set-wrap">
                    {{fa-icon "laptop"}}
                    <h4>Perfect for Laptops</h4>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col">
                <div class="set-wrap">
                    {{fa-icon "eye"}}
                    <h4>Easy to Customize</h4>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col">
                <div class="set-wrap">
                    {{fa-icon "image"}}
                    <h4>Multimedia</h4>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col">
                <div class="set-wrap">
                    {{fa-icon "rocket"}}
                    <h4>Ready to Launch</h4>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."</p>
                </div>
            </div>
        </div>
    </div>
</div>
