<div class="theme-counters {{type}}">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col">
                <h1>{{users}}</h1>
                <h3>Users</h3>
            </div>
            <div class="col-xs-12 col-sm-3 col">
                <h1>{{reviews}}</h1>
                <h3>Reviews</h3>
            </div>
            <div class="col-xs-12 col-sm-3 col">
                <h1>{{downloads}}</h1>
                <h3>Downloads</h3>
            </div>
            <div class="col-xs-12 col-sm-3 col">
                <h1>{{visits}}</h1>
                <h3>Visits</h3>
            </div>
        </div>
    </div>
</div>
