<div class="friends-page">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Friends</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <h3>Services</h3>
                {{theme-block-title title="Responsive HTML5" date="2016/01/05" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
                {{theme-block-title title="Elegant Design" date="2016/01/05" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
                {{theme-block-title title="Best Practices" date="2016/01/05" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
                {{theme-block-title title="Ember Components" date="2016/01/05" desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit."}}
            </div>
            <div class="col-xs-12 col-sm-9">
                <h3>My friends</h3>
                {{#theme-block-desc image="images/people/woman-1.jpg" title="Andrea L."}}
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                    {{#link-to "pages.friends"}}{{fa-icon "plus"}} Read more{{/link-to}}
                {{/theme-block-desc}}
                <hr>
                {{#theme-block-desc image="images/people/woman-2.jpg" title="Teresa M."}}
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                    {{#link-to "pages.friends"}}{{fa-icon "plus"}} Read more{{/link-to}}
                {{/theme-block-desc}}
                <hr>
                {{#theme-block-desc image="images/people/woman-3.jpg" title="Karla R."}}
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                    {{#link-to "pages.friends"}}{{fa-icon "plus"}} Read more{{/link-to}}
                {{/theme-block-desc}}
                <hr>
                {{#theme-block-desc image="images/people/woman-4.jpg" title="Sheyla D."}}
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."
                    {{#link-to "pages.friends"}}{{fa-icon "plus"}} Read more{{/link-to}}
                {{/theme-block-desc}}
                <hr>
                </div>
        </div>
    </div>
</div>
