<div class="services">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Services</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white padding-xxl">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{#theme-content-with-image imgSrc="images/cover/cover-1.jpg" type="light" displayFirst="imageFirst"}}
                        <h3>Premium Templates</h3>
                        {{theme-lorem-ipsum length=400 paragraph=0}}
                        <br /> <br />
                        {{theme-lorem-ipsum length=400 paragraph=1}}
                    {{/theme-content-with-image}}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light-silver padding-xxl">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{#theme-content-with-image imgSrc="images/cover/cover-2.jpg" type="dark" displayFirst="textFirst"}}
                        <h3>Ember Components</h3>
                        {{theme-lorem-ipsum length=360 paragraph=0}}
                        <br /> <br />
                        {{theme-lorem-ipsum length=360 paragraph=1}}
                    {{/theme-content-with-image}}
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white padding-xxl">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{#theme-content-with-image imgSrc="images/cover/cover-3.jpg" type="light" displayFirst="imageFirst"}}
                        <h3>HTML5 Responsive</h3>
                        {{theme-lorem-ipsum length=400 paragraph=0}}
                        <br /> <br />
                        {{theme-lorem-ipsum length=400 paragraph=1}}
                    {{/theme-content-with-image}}
                </div>
            </div>
        </div>
    </div>
</div>
