<div class="theme-clients">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Our Clients</h1>
                <p class="clients">
                    {{fa-icon 'facebook'}}
                    {{fa-icon 'jsfiddle'}}
                    {{fa-icon 'github'}}
                    {{fa-icon 'chrome'}}
                    {{fa-icon 'digg'}}
                    {{fa-icon 'amazon'}}
                    {{fa-icon 'android'}}
                </p>
            </div>
        </div>
    </div>
</div>
