<div class="theme-three-features-set {{if borders "borders"}}">
    <div class="container">
        <div class="row">
            <div class="col col-sm-4 col-md-4">
                {{fa-icon "glass"}}
                <h3>What is this?</h3>
                <p>An expression of my interests, which grow, change and fade.
                   I hope you find it interesting...
                </p>
                <a href="#">{{fa-icon "info-circle"}} Read more</a>
            </div>
            <div class="col col-sm-4 col-md-4">
                {{fa-icon "html5"}}
                <h3>Built with Ember.js</h3>
                <p>Part of the fun of having a web site is playing with technology.
                   Often it's under construction.
                </p>
                <a href="#">{{fa-icon "info-circle"}} Read more</a>
            </div>
            <div class="col col-sm-4 col-md-4">
                {{fa-icon "arrows-alt"}}
                <h3>Fixed Width</h3>
                <p>"With fixed width ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco."</p>
                <a href="#">{{fa-icon "info-circle"}} Read more</a>
            </div>
        </div>
    </div>
</div>
