<div class="theme-three-features-set {{if borders "borders"}}">
    <div class="container">
        <div class="row">
            <div class="col col-sm-4 col-md-4">
                {{fa-icon "glass"}}
                <h3>What is this?</h3>
                <p>An expression of my interests, which grow, change and fade.
                   I hope you find it interesting...
                </p>
                <a href="#">{{fa-icon "info-circle"}} Read more</a>
            </div>
            <div class="col col-sm-4 col-md-4">
                {{fa-icon "html5"}}
                <h3>Built with Ember.js</h3>
                <p>Part of the fun of having a web site is playing with technology.
                   Often it's under construction.
                </p>
                <a href="#">{{fa-icon "info-circle"}} Read more</a>
            </div>
            <div class="col col-sm-4 col-md-4">
                {{fa-icon "file-text-o"}}
                <h3>See blog for updates</h3>
                <p>
                    I've got a new blog here to record things that occur to me.
                </p>
                <a href="#">{{fa-icon "info-circle"}} Read more</a>
            </div>
        </div>
    </div>
</div>
