<!-- Footer -->
{{#unless hide}}
<div class="theme-footer">
    <div class="links">
        <br />
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h2 class="brand">Mountainwerks</h2>
                    <br />
                    <p>All content represents my own views and not that of my employer or
                        anyone else. Mountain climbing is dangerous and I can't be responsible
                        for any trouble you get into after reading my trip reports. Conditions
                        in the mountains are changeable, and my descriptions may be out of date,
                        inappropriate for your level of skill, or just plain wrong.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-3 contact-us-section">
                    <br/>
                </div>
                <div class="col-xs-12 col-sm-3 contact-us-section">
                    <h3>Contact me</h3>
                    <p>
                        Michael Stanton<br/>
                        Munich, Germany<br/>
                        Email: ripsawridge "at" gmail.com
                    </p>
                    <div class="contact-icons">
                        <a href="https://www.facebook.com/ripsawridge">{{fa-icon "facebook"}}</a>
                        <a href="https://twitter.com/ripsawridge">{{fa-icon "twitter"}}</a>
                        <a href="https://www.pinterest.com/ripsawridge/">{{fa-icon "pinterest"}}</a>
                        <a href="https://github.com/ripsawridge">{{fa-icon "github"}}</a>
                        <a href="https://medium.com/@ripsawridge">{{fa-icon "medium"}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#if fixedBottom}}
        <div class="bottom-bar-black"></div>
    {{/if}}
    <div class="bottom-bar {{if fixedBottom "navbar-fixed-bottom"}}">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-sm-5">
              2017 © <span class="all-rights">All right reserved.</span>
            </div>
            <div class="col-xs-6 col-sm-7 right-side">
              <span class="built-with">Built with <span style="color: red;">&hearts;</span> </span><a href="http://www.mountainwerks.org/">by Mountainwerks.org</a>
            </div>
          </div>
        </div>
  </div>
</div>
<!-- Footer -->
{{/unless}}
