<div class="theme-six-features-set">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 header">
                    <h2>Featured Theme</h2>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam."</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-block">
                    <div class="icon-box">{{fa-icon "glass"}}</div>
                    <div class="text-box">
                        <h3>Elegant Designs</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam."</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-block">
                    <div class="icon-box">{{fa-icon "folder"}}</div>
                    <div class="text-box">
                        <h3>Multiple Pages</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam."</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-block">
                    <div class="icon-box">{{fa-icon "check"}}</div>
                    <div class="text-box">
                        <h3>Best Practices</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam."</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-block">
                    <div class="icon-box">{{fa-icon "code"}}</div>
                    <div class="text-box">
                        <h3>EmberJS Components</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam."</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-block">
                    <div class="icon-box">{{fa-icon "eye"}}</div>
                    <div class="text-box">
                        <h3>LESS CSS</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam."</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-block">
                    <div class="icon-box">{{fa-icon "rocket"}}</div>
                    <div class="text-box">
                        <h3>Modern Looks</h3>
                        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam."</p>
                    </div>
                </div>
            </div>

        </div>
</div>
